<h1 class="mt-5">Agregar Producto</h1>
<hr />

<form [formGroup]="miFormulario">
  <div class="row g-3 align-item-center mb-3">
    <div class="col-auto">
      <label class="col-form-label"> Nombre: </label>
    </div>
    <div class="col-auto">
      <input type="text" formControlName="nombre" class="form-control" />
    </div>

    <div class="col-auto">
      <span
        error-msg
        [color]="color"
        [mensaje]="texto1"
        [valido]="!tieneError('nombre')"
      >
        Este campo es requerido
      </span>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-primary" (click)="cambiarNombre()">Guardar</button>
    </div>

    <div class="col">
      <button class="btn btn-primary" (click)="cambiarColor()">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid: {{ miFormulario.valid }} </pre>
<pre>Value: {{ miFormulario.value | json }} </pre>
